/* Global */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/image4.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F2FEDC;
  margin: 0 auto;
  max-width: 80em;
}

/* Styling main heading and intensity from header */
#heading {
  border-bottom: solid 1px yellow;
}

#heading h1 {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  letter-spacing: 0.2em;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  position: fixed;
  top: 0;
}

div.intensity {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  right: 10rem;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
}

.intensity div {
  color: #F2FEDC;
  font-size: 12.5px;
  padding-bottom: 0.5rem;
}

/* Styling select dropdown */
#regions-dropdown {
  position: relative;
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 5em;
  float: left;
  left: -14em;
 }

#regions-dropdown {
  border: none;
  outline: none;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #F2FEDC;
  border: 0.5px solid #2B2B2B;
  padding: 0 10px;
  max-width: 40vw;
  min-width: 15vw;
  height: 4.5vh;
}

/* Styling main info after selected region */
#info-box div.details-box {
  display: block;
  position: absolute;
  max-width: 15vw;
  min-width: 15vw;
  margin-top: 15em;
  padding-left: 4rem;
}

#info-box h2 {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 1rem;
}

.details-box h4 {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

.details-box h3 {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  text-align: center;
}

.details-box h3 div {
  color: #F2FEDC;
  font-size: 12.5px;
  padding-bottom: 0.5rem;
}

#app-info {
  display: block;
  position: absolute;
  top: 30em;
  max-width: 20vw;
  min-width: 15vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid #2B2B2B;
  padding: 1rem;
  float: left;
  left: 6.5em;
}

#app-info p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: justify;
}

.map-box img {
  max-width: 20vw;
  max-height: 200vh;
  float: left;
  display: block;
  position: relative;
  left: 62em;
  top: 5em;
}

/* High Chart */
#pie-container {
  width: 50vw;
  height: 50vh;
  display:flex;
  justify-content: center;
  align-items: center;
  /* float: right; */
  /* transform: translate(-13em); */
}
